{% extends 'base.html' %}
{% block content %}
  <h2 class="card-title fw-bold">Delegation Team Information</h2>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card">
      <div class="card-body">
        <p class="card-title">School: {{ delegation.school }}</p>
        <p class="card-title">Assigned Country: {{ delegation.assignedCountry }}</p>
        <h4>Team Information</h4>
        {% for i in delegateIndex %}
          {% with attribute_name='delegate'|add:i %}
              <h1>attribute_name</h1>
            {% if delegation.team.attribute_name %}
              <p class="card-text">Delegate {{ i }}: {{ delegation.team.attribute_name.firstName }} {{ delegation.team.attribute_name.lastName }}</p>
              <p class="card-text">School: {{ delegation.team.attribute_name.school }}</p>
              <p class="card-text">Role: {{ delegation.team.attribute_name.role }}</p>
              <p class="card-text">Gender: {{ delegation.team.attribute_name.gender }}</p>
              <p class="card-text">Race: {{ delegation.team.attribute_name.race }}</p>
              <p class="card-text">Grade: {{ delegation.team.attribute_name.grade }}</p>
              <p class="card-text">Year at MUN: {{ delegation.team.attribute_name.yearAtMun }}</p>
              <p class="card-text">Address: {{ delegation.team.attribute_name.streetAddr }} {{ delegation.team.attribute_name.city }}, {{ delegation.team.attribute_name.state }}  {{ delegation.team.attribute_name.zip }}</p>
              <p class="card-text">Phone: {{ delegation.team.attribute_name.mobilePhone }}</p>
              <p class="card-text">Email: {{ delegation.team.attribute_name.email }}</p>
              <p class="card-text">Parent Names: {{ delegation.team.attribute_name.parentName }}</p>
              <p class="card-text">Parent Email: {{ delegation.team.attribute_name.parentEmail }}</p>
              <p class="card-text">Parent Email: {{ delegation.team.attribute_name.parentPhone }}</p>      
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}