{% extends 'base.html' %}

{% block content %}
<h5 class="card-title">{{ advisor.school }}</h5>
{% if advisor.name %} 
  <div class="card mb-3">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 fw-bold">Current Teams counts: {{ teamCount }}</h6>
      <div class="card-text">
        <ul class="'list-group">
        {% if teamCount > 0 %}
          <!-- if there are teams, display the country asisgned to the team, and display the link to each delegates -->
          {% for delegation in teams %}
            <p>Team {{ forloop.counter }}: {{delegation.assignedCountry}}</p>
            <!-- to update team assigned countries              
              <div class="container" id="div{{ forloop.counter }}">
              <p>
                <form id="updateCountry {{ forloop.counter}}" action="#" method="post"></form>
                  {% csrf_token %}
                  {{ form.as_p }}
                   Team {{ forloop.counter }}: {{delegation.assignedCountry}} 
                   <button type="submit" class="btn btn-primary btn-sm">Update</button>
                  </form>
                </p>
              </div>
              -->
            <li class="list-group-item">
              <!-- create an anchor to display_delegate.html -->
              <a href="{% url 'displayDelegate' delegation.team.delegate1.id %}">{{delegation.team.delegate1.firstName}} 
              {{delegation.team.delegate1.lastName}}</a>
            </li>
            {% if delegation.team.delegate2 %}
              <!-- if 2nd delegate existis in the team -->
            <li class="list-group-item">
              <a href="{% url 'displayDelegate' delegation.team.delegate2.id %}">{{delegation.team.delegate2.firstName}} {{delegation.team.delegate2.lastName}}</a>
            </li>
              {% if delegation.team.delegate3 %}
              <!-- if the 3rd delegate exists in the team -->
            <li class="list-group-item">
              <a href="{% url 'displayDelegate' delegation.team.delegate3.id %}">{{delegation.team.delegate3.firstName}} {{delegation.team.delegate3.lastName}}</a>
            </li>
                {% if delegation.team.delegate4 %}
                <!-- if the 4th delegate exists in the team --> 
            <li class="list-group-item"><a href="{% url 'displayDelegate' delegation.team.delegate4.id %}">{{delegation.team.delegate4.firstName}} {{delegation.team.delegate4.lastName}}</a>
            </li>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 fw-bold">Current Individual counts: {{ invidualCount }}</h6>
      <div class="card-text">
        <ul class="'list-group">
        {% if invidualCount %}
          {% for delegate in individuals%}
          <!-- if invididuals exists, loop the list to create an anchor of display_delegate.html--> 
          <li class="list-group-item">
            <a href="{% url 'displayDelegate' delegate.id %}">{{ delegate.firstName }} {{ delegate.lastName }} - {{ delegate.role }}</a>            </li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% else %}
  <p class="card-title"><a href="{% url 'createMyDelegation' %}">Create your delegation</a></p>
{% endif %}

{% endblock content %}
