{% extends 'base.html' %}

{% block content %}
      <div class="text-start fs-3 fw-boldi">
        WELCOME
      </div>
      <br><br>
      <div class="container" style="width: 50 rem;">      
        <h2 class="text-center fs-2 fw-bold">CONFERENCE DATES</h2> 
      <br><br>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Youth in Government 2024</h4>
          <ul class="card-text">
            <li class="list-group-item">Capitol Conference: February 29-March 3, 2024</li>
            <li class="list-group-item">Tristar Conference: April 11-14, 2024</li>
            <li class="list-group-item">Volunteer Conference: April 18-21, 2024</li>
          </ul>
          <ul>
            <li class="list-group-item">MS Dyersburg: March 11, 2024</li>
            <li class="list-group-item">MS Chattanooga: March 28, 2024</li>
            <li class="list-group-item">MS Nashville 1: May 3rd, 2024</li> 
            <li class="list-group-item">MS Nashville 2: May 10th, 2024</li> 
            <li class="list-group-item">MS Memphis: May 3rd, 2024</li> 
          </ul>
        </div> 
      </div>
    </div>

    <div class="container">
      <div class="card">
        <div class="card-body"> 
        <h4 class="card-title">MUN in 2024</div>
        <ul class="card-text">
          <li class="list-group-item">MUN A November 8-10, 2024</li>
          <li class="list-group-item">MUN B November 15-17, 2024</li>
          <li class="list-group-item">MUN C November 22-24, 2024</li> 
        </ul>
      </div>
    </div>
  </div>

{% endblock content %}