<!DOCTYPE html>
<html>
  <head>
    <title>
       MUN Registration
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form>
    <div class="text-center fs-1 fw-bold">
      MUN A General Assembly Registration Form
    </div>

    <!-- instruction #1 -->
    <div class="container">
      <div class="text-lg-start lh-sm fs-6 text-wrap">
        <p>
          Please only submit one form per team. You must have all of your team members' information before you can fill out this form. Please provide valid email addresses or you will be unable to complete the registration process.
        </p>
        <p>
          Please rank your country preference in order, with 1 being your first choice. Countries will be assigned at random based upon your preferences. If you fail to list all 10 choices, you may not be automatically assigned a country.
        </p>
        <p>
          You will receive your country assignment via email in the days following registration. If all of your choices have already been taken during the assignment process, you will receive an email with instructions to choose additional countries. Please make sure you check your spam folders for these emails.
        </p>
      </div>
    </div>

    <!-- pick the school first -->
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="input-group mb-4">
            <label for="inputSchool" class="input-group-text">School</label>
            <select class="form-select" id="inputSchool">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- country choice -->
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Country Choice 1</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Country Choice 2</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect03">Country Choice 3</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect04">Country Choice 4</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect05">Country Choice 5</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect06">Country Choice 6</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect07">Country Choice 7</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect08">Country Choice 8</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect09">Country Choice 9</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect10">Country Choice 10</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- instruction #2 -->
    <div class="container">
      <div class="text-lg-start lh-sm fs-5 text-wrap fw-bold">
        <p></p>
        <p>
            Delegations will consist of 4 students. In cases of odd numbers, some countries may have only 3 delegates, however, delegations of 5 are not permitted.
        </p>
        <p>
            NOTE: Please use the following format for phone numbers: (123)SPACE456-7890
        </p>
        <p class="lh-sm"></p>
      </div>
    </div>

    <!-- delegate intake -->
    <br>
    <div class="container bg-danger bg-opacity-25">
      <div class="row g-3">   
        <label class="fs-5 fw-bold" bgcolor="secondary">Delegate #1</label>
        <hr>
        <div class="col-md-6">
          <label for="inputFirstName1" class="form-label">First name</label>
          <input type="text" class="form-control" id="inputFirstName1">
        </div>
        <div class="col-md-6">
          <label for="inputLastName1" class="form-label">Last name</label>
          <input type="text" class="form-control" id="inputLastName1">
        </div>
        <div class="col-md-3">
          <label for="inputGender1" class="form-label">Gender</label>
          <select class="form-select" id="inputGender1">
            <option selected>Choose...</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>    
        <div class="col-md-3">
          <label for="inputRace1" class="form-label">Race</label>
          <select class="form-select" id="inputRace1">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>    
        <div class="col-md-3">
          <label for="inputGrade1" class="form-label">Grade</label>
          <select class="form-select" id="inputGrade1">
            <option selected>Choose...</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>    
        <div class="col-md-3">
          <label for="inputMunYear1" class="form-label">Years at MUN</label>
          <select class="form-select" id="inputMunYear1">
            <option selected>Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
          </select>
        </div>    
        <div class="col-md-6">
          <label for="inputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail1" placeholder="john.smith@email.com">
        </div>
        <div class="col-md-6">
          <label for="inputPhone1" class="form-label">Cell Phone</label>
          <input type="text" class="form-control" id="inputPhone1" placeholder="(123) 456-7890">
        </div>
        <div class="col-12">
          <label for="inputStreetAddr1" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputStreetAddr1" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
          <label for="inputCity1" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity1">
        </div>
        <div class="col-md-4">
          <label for="inputState1" class="form-label">State</label>
          <select class="form-select" id="inputState1">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip1" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip1">
        </div>
        <div class="col-12">
          <label for="inputParentName1" class="form-label">Parent Names</label>
          <input type="text" class="form-control" id="inputParentName1">
        </div>
        <div class="col-md-6">
          <label for="inputParentEmail1" class="form-label">Parent Email</label>
          <input type="email" class="form-control" id="inputParentEmail1" placeholder="mary.smith@email.com">
        </div>
        <div class="col-md-6">
          <label for="inputParentPhone1" class="form-label">Parent Phone</label>
          <input type="text" class="form-control" id="inputPhone1" placeholder="(987) 654-3210">
        </div>     
      </div>
    </div>
    <br><br>

    <div class="container bg-info bg-opacity-25">
      <div class="row g-3">   
        <label class="fs-5 fw-bold" bgcolor="secondary">Delegate #2</label>
        <hr>
        <div class="col-md-6">
          <label for="inputFirstName2" class="form-label">First name</label>
          <input type="text" class="form-control" id="inputFirstName2">
        </div>
        <div class="col-md-6">
          <label for="inputLastName2" class="form-label">Last name</label>
          <input type="text" class="form-control" id="inputLastName2">
        </div>
        <div class="col-md-3">
          <label for="inputGender2" class="form-label">Gender</label>
          <select  class="form-select" id="inputGender2">
            <option selected>Choose...</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>    
        <div class="col-md-3">
          <label for="inputRace2" class="form-label">Race</label>
          <select class="form-select" id="inputRace2">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>    
        <div class="col-md-3">
          <label for="inputGrade2" class="form-label">Grade</label>
          <select class="form-select" id="inputGrade2" >
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>    
        <div class="col-md-3">
          <label for="inputMunYear2" class="form-label">Years at MUN</label>
          <select class="form-select" id="inputMunYear2" >
            <option selected>Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
          </select>
        </div>    
        <div class="col-md-6">
          <label for="inputEmail2" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail2" placeholder="john.smith@email.com">
        </div>
        <div class="col-md-6">
          <label for="inputPhone2" class="form-label">Cell Phone</label>
          <input type="text" class="form-control" id="inputPhone2" placeholder="(123) 456-7890">
        </div>
        <div class="col-12">
          <label for="inputStreetAddr2" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputStreetAddr2" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
          <label for="inputCity2" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity2">
        </div>
        <div class="col-md-4">
          <label for="inputState2" class="form-label">State</label>
          <select class="form-select" id="inputState2">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip2" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip2">
        </div>
        <div class="col-12">
          <label for="inputParentName2" class="form-label">Parent Names</label>
          <input type="text" class="form-control" id="inputParentName2">
        </div>
        <div class="col-md-6">
          <label for="inputParentEmail2" class="form-label">Parent Email</label>
          <input type="email" class="form-control" id="inputParentEmail2" placeholder="mary.smith@email.com">
        </div>
        <div class="col-md-6">
          <label for="inputParentPhone2" class="form-label">Parent Phone</label>
          <input type="text" class="form-control" id="inputPhone2" placeholder="(987) 654-3210">
        </div>     
      </div>
    </div>
    <br><br>

    <!-- Agreement -->
    <div class="container">
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            We Agree
          </label>
        </div>
      </div>
      <div class="text-lg-start lh-sm fs-6 text-wrap fw-bold">
        By clicking this box, all delegates listed on this registration form certify they will attend Model United Nations and agree to the following <a href="https://tennesseecce.org/Resources/CodeofConduct.pdf">Code of Conduct</a>. Should any delegate choose to withdraw after the Final Deadline, that delegate is responsible for their delegate fee and other school costs or for finding a substitute.
      </div>
      <br>
      <div class="text-lg-start lh-sm fs-3 text-wrap fw-bold">
        You may need to wait up to 1 minute for your form to process, please do not click submit more than once.
      </div>      
      <br>
      <div class="text-lg-start lh-sm fs-6 text-wrap">
        Please note, the information contained in this form will be sent for verification to all of the email addresses (parent and student) provided in the form above.
      </div>
      <br>
      <div class="text-lg-start lh-sm fs-6 text-wrap">
        After pressing submit, scroll up to see if you have incorrectly completed any fields (they will be highlighted in red).
      </div>
      <br>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
   </form> 
   
   <p class="text-lg-start lh-sm fs-6 text-wrap fw-bold">
    Return to Model UN Registration Hubs
   </p>
    <a href="#">High School Model UN</a>
    <a href="#">Middle School Model UN</a>


  </body>
</html>